# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/tfplan

# macOS
**/__MACOSX/
**/._*
.DS_Store

# Node
**/node_modules/
npm-debug.log*

# Build artifacts
function.zip

# example sast test file
test-sast.js